:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

    --primary:#d32f2f;
    --secondary:#ffcdd2;
    --tertiary:#424242;
    --accent:#e57373;
    --neutral-black:#515151;
    --neutral-grey:#BEBEBE;
    --neutral-grey-ligth:#F0F0F0;

}
.icon-wrapper{
  display: flex;
  justify-content: center;
}

h3{
  color: var(--primary);
  text-align: center;
}

.css-v4u5dn-MuiInputBase-root-MuiInput-root:after{
  border-bottom: 2px solid var(--secondary);
}

.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-focused{
  color:var( --tertiary) ;
}